$head-font: 'Heebo', sans-serif;
$main-font: 'Roboto', sans-serif;
$co-main-font: 'Source Sans Pro', sans-serif;

$dark-grey: #191919;
$grey: #b7b7b7;
$red: #ca0202;

//reset
*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{text-decoration: none;}

//header
header{
    color: whitesmoke;
    height: 100px;
    background-color: $dark-grey;
    display: flex;

    h2{
        font-family: $co-main-font;
        font-weight: 600;
        font-size: 2em;     
        margin: auto 5%; 
    }
    span{ color: $red; }
    a{
        color: whitesmoke;
        font-family: $co-main-font;
        font-weight: 600;
    }
    ul{
        display: flex;
        flex: 1;
    }
    li{
        margin: auto 20px;
        font-size: 1.1em;
    }
}

#right{
    justify-content: flex-end;
    margin-right: 10%;
}

//main
main{
    h1{
        font-family: $head-font;
        font-size: 14em;
        padding-top: 100px;
        margin: 0 10%;
    }
    p{
        font-family: $main-font;
        font-weight: 300;
        font-size: 1.8em;
        margin: 0 10%;
    }
}

.temp{
    font-size: 1.1em;
}

#img-left{
    height: 80px;
    width: 80px;
    margin: 50px 0 0 9.5%;
}

#img-right{
    height: 80px;
    width: 80px;
    margin: 50px 0 0 20px;
}

#tokyo{
    height: calc(100vh - 100px);
    width: 100%;
    color: white;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.3)
    ),url(/img/tokyo.jpg);
    background-size: 100% auto;
}